<div class="jumbotron">
  <h1 class="display-4">Olá, bem vindo ao SCCI!</h1>
  <p class="lead">
    Sistema de compras inteligente para cegos. Este é um protótipo para validar uma ideia, que
    consiste em falar o nome e o valor dos produtos, conforme vão sendo somados em um processo
    de compra em supermercados.
  </p>
  <hr class="my-4">
  <p>
    <strong>Atenção para as orientações de uso:</strong>
  </p>
  <ol>
    <li>Peça para o cliente colocar o fone de ouvido;</li>
    <li>Explique que a partir de agora ele poderá ouvir/acompanhar os produtos e o seu valor;</li>
    <li>Para cada produto, insira o código do produto, informe a quantidade e precione enter (ou adicionar);</li>
    <li>Caso seja necessário remover um produto, precione o botão "remover";</li>
    <li>Ao final do pedito, clique em finalizar pedido.</li>
  </ol>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Código</label>
        <input #inputCode class="form-control" autofocus type="number"
          (keyup.enter)="addProduct(inputCode, inputAmount)">
        <small class="form-text text-muted">Insira o código de barras do produto</small>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Quantidade</label>
        <input #inputAmount class="form-control" type="number" value="1"
          (keyup.enter)="addProduct(inputCode, inputAmount)">
        <small class="form-text text-muted">Informe a quantidade do produto</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary w-100" (click)="add()">Adicionar</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <app-order-table></app-order-table>
    </div>
  </div>
  <div class="row mb-5 mt-2">
    <div class="col-2">
      <button class="btn btn-secondary w-100" (click)="orderSummary()">Resumo</button>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary w-100" (click)="speechService.pause()">Pausar</button>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary w-100" (click)="speechService.resume()">Play</button>
    </div>
  </div>
</div>